.input{
  background-color: wheat;
  padding: 5px 20px 5px 20px ;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  
  }
  .icon{
    color: rgb(255, 255, 255);
    padding: 5px 20px 5px 20px ;
    font-weight: bold;
    background-color: rgb(109, 194, 161);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  .card {
    padding: 100px;
    margin: auto;
    margin-bottom: 10px;
    background-color: wheat;
    border: 1px solid black;
    border-radius: 10px;
  }
  .card-body {
    font-weight: 700px;
    font-family: cursive;
  }
  .card-img {
    size: 70px;
  }
.content__container{
  background-color: rgb(255, 255, 255);
  padding: 20px;
}